<mat-card class="card">
    <div class="header-row">
        <img *ngIf="profile" class="profile" [attr.src]="'/assets/' + profile" />
        <div class="columns">
            <mat-card-title>
                {{ firstName }} {{ lastName }}</mat-card-title>
            <mat-card-subtitle>{{ title }}</mat-card-subtitle>
        </div>
    </div>

    <button [disabled]="!vContactString" (click)="downloadVCard()" class="contact-button" mat-stroked-button
        color="accent">Download
        contact</button>

    <!-- Email -->
    <span *ngIf="email" class="mt cv-row">
        <span class="mr">
            {{ email }}
        </span>
        <a [href]="emailLink" mat-raised-button color="accent" target="_top">
            <mat-icon>email</mat-icon>
        </a>
    </span>

    <!-- Phone number -->
    <span *ngIf="phoneNumber" class="mt mb cv-row">
        <span class="mr">
            {{ phoneNumber }}
        </span>
        <a [href]="'tel:'+phoneNumber" target="_top" mat-raised-button color="accent">
            <mat-icon>phone</mat-icon>
        </a>
    </span>

    <!-- Website -->
    <span class="mt2 mb cv-row">
        <a href="www.homie.lu" target="_top" class="link">
            www.homie.lu
        </a>
    </span>

    <!-- Social buttons -->
    <div class="social-buttons">
        <a *ngIf="linkedin" [href]="linkedin" target="_blank">
            <img class="social-button" src="/assets/linkedin.png" />
        </a>
        <a *ngIf="facebook" [href]="facebook" target="_blank">
            <img class="social-button" src="/assets/facebook.png" />
        </a>
    </div>
    <div class="logo">
        <a href="https://www.homie.lu/" target="_blank">
            <img src="/assets/homie.svg" />
        </a>
    </div>
</mat-card>